<!-- <p>My Cart</p>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Time</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cartItem of cartItems">
      <td>{{ cartItem.productName }}</td>
      <td>{{ cartItem.time }}</td>
      <td>{{ cartItem.quantity }}</td>
      <td>{{ cartItem.price | currency }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>{{ total | currency }}</th>
    </tr>
  </tfoot>
</table>

<br />
<button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> Payment </button>   -->