<br />
<br /><br /><br /><br />

<p>list-medicine works!</p>

<br />
<br />
<br />

<!-- <a class="nav-link" routerLink="/addmedicine">Add Medicine</a>
<a class="nav-link" routerLink="/addcategory">Add Category</a> -->
<br />
<h1>Available</h1>

<select (change)="categorySelection($event)">
  <option value="0">All Categories</option>
  <option *ngFor="let category of categories" value="{{ category.id }}">
    {{ category.name }}
  </option>
</select>
<div class="row">
  <div class="col-md-4">
    <input
      type="text"
      [(ngModel)]="filters.keyword"
      name="keyword"
      (input)="listMedicines()"
      class="form-control"
      placeholder="Filter medicines"
    />
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Category</th>
      <th>Company</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medicine of medicines">
      <td>{{ medicine.name }}</td>
      <td>{{ medicine.category.name }}</td>
      <td>{{ medicine.company.name }}</td>
      <td>{{ medicine.description }}</td>
      <td>{{ medicine.price }}</td>
      <td>
        <button (click)="btnClick( medicine )" type="button" class="btn btn-success">
          Add to cart!
        </button>
      </td>
    </tr>
  </tbody>
</table>
